*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: #343434;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: rgba(40, 39, 39, 0.384);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;

}
form h3 {
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: white;
    font-size: 16px;
}

form button {
    padding: 15px;
    background: #0dd3e5;
    color: black;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 20px;
    font-size: 150%;
}

form input {
    outline: 0.1px solid rgba(255, 255, 255, 0.055);
    border-radius: 10px;
    background-color: transparent;
    color: white;
}

form input:hover {
    outline: 1px solid #1f8aa77e;
}

form button:hover {
    background: #0799a9;
}